.header {
  height: 34vw;
  margin: 30px auto;
  background: center/cover no-repeat;
  position: relative;

  overflow: hidden;
  margin-bottom: 45px;
  margin-top: 45px;
}

.header-contents {
  position: absolute;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 2vw;
  max-width: 60%;
  bottom: 50%;
  transform: translateX(-50%);
  left: 50%;
  transition: all 0.5s ease-in-out;
  font-family: "Segoe UI Emoji", "Apple Color Emoji";
}

.slider-item {
  width: 100%;
  height: 100%;
}

.slider-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header-contents h2 {
  font-size: 3rem;
  font-weight: 900;
  color: #fff;
  margin: 0;
  opacity: 0;
  animation: fadeInOut 8s infinite;
  background: white;
  -webkit-background-clip: text;
  color: transparent;
  font-family: "Arial", sans-serif;
}

.header-contents p {
  color: #ddd;
  font-size: clamp(12px, 1vw, 18px);
  line-height: 1.6;
}

.header-contents button {
  border: none;
  color: white;
  font-weight: 600;
  padding: 1.2vw 3vw;
  background: linear-gradient(135deg, #060504, #f37393);
  font-size: clamp(13px, 1vw, 16px);
  border-radius: 50px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.header-contents button:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 15px rgba(255, 122, 24, 0.5);
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes zoomInOut {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

@media (max-width: 1050px) {
  .header {
    height: 38vw;
  }
  .header-contents {
    max-width: 70%;
    left: 5vw;
  }
}

@media (max-width: 750px) {
  .header {
    height: 50vw;
  }
  .header-contents {
    max-width: 85%;
    text-align: center;
    align-items: center;
    left: 0;
    bottom: 15%;
  }
  .header-contents p {
    display: none;
  }
  .header-contents button {
    padding: 3vw 6vw;
  }
}

@media (max-width: 1024px) {
  .header {
    height: 38vw;
  }
  .header-contents {
    max-width: 70%;
    left: 5vw;
  }
}

@media (max-width: 768px) {
  .header {
    height: 50vw;
  }
  .header-contents {
    max-width: 85%;
    text-align: center;
    align-items: center;
    left: 0;
    bottom: 15%;
  }
  .header-contents p {
    display: none;
  }
  .header-contents button {
    padding: 3vw 6vw;
  }
}

@media (max-width: 480px) {
  .header {
    height: 60vw;
  }
  .header-contents {
    max-width: 90%;
    gap: 2vw;
  }
  .header-contents h2 {
    font-size: clamp(18px, 5vw, 36px);
  }
  .header-contents button {
    padding: 4vw 8vw;
    font-size: clamp(12px, 4vw, 14px);
  }
}

@media (orientation: landscape) and (max-height: 500px) {
  .header {
    height: 40vw;
  }
  .header-contents {
    max-width: 80%;
    gap: 1vw;
  }
  .header-contents button {
    padding: 2vw 5vw;
  }
}
